body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    background: #020617;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    margin-left: 10px;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
}

input, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #7c3aed;
    color: white;
    cursor: pointer;
}

    button:hover {
        background: #6d28d9;
    }

.status {
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    white-space: pre-line;
}

.success {
    background: #14532d;
}

.error {
    background: #7f1d1d;
}
